{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}    
    <form id="post_form" action="{%url "add_post"%}" method="post" >
        {% csrf_token %}
        <label for="post_value">New Post</label>
        <textarea id="post_value" name="post" rows="3" cols="50"></textarea>
        <input type="submit" class="btn btn-primary" value="Post"/>
        {%if message%}
        <div id="error">{{message}}</div>
        {%endif%}
    </form>
    {%endif%}
    {%if posts%}
        {%for post in posts%}
        <div class="post_container">            
            <p class="post_author">{{post.author}}</p>
            {%if post.author == user%}
            <a href="#">Edit</a>
            {%endif%}
            <p class="post_text">{{post.text}}</p>
            <p class="post_date">{{post.date}}</p>   
            <a class="like" href="#"><img src="static/network/heart.svg"></img>0</a>        
            <p class="post_comment">Comment</p>
        </div>
        {%endfor%}
    {%endif%}
{% endblock %}